.App {
  text-align: center;
  background-color: #2F4C39;
}

.App-header {
  background-color: #2F4C39;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-section {
  background-color: #5e5e5e;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-text {
  color: rgba(255, 255, 255, 0.849) !important;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.column {
  float: left;
  width: 50%;
}


.navbar {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar-text {
  color: white !important;
  font-size: 20px;
}

.navbar-text:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	transition: all 0.4s ease 0s;
}

.main-title {
  color: white !important;
  font-size: 60px;
}

.social-buttons {
	color: #fff !important;
	text-decoration: none;
	background: #75757570;
	padding: 14px;
  height: 60px;
  width: 200px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.social-buttons:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.line{
  border: 0;
  clear:both;
  display:block;
  width: 50%;               
  background-color:#ffffff;
  height: 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
